{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
<!-- {% block style %} 
{% endblock style %} -->
{% block body %}

<body>
  <h1>Dashboard
    <br><small> Welcome {{session.username}}</small>
  </h1>
  <br>
  <div style="float: left;">
    <h1>Humidity = <span id="humidity">{{ humidity }}%</span></h1>
    <div class="temp-legend">
      <ul class="Legend">
        <li class="Legend-item">
          <span class="Legend-colorBox"
            style="background-color: yellow; width: 1.5rem; height: 1.5rem; display: inline-block;">
          </span>
          <span class="Legend-label">
            Dry
          </span>
        </li>
        <li class="Legend-item">
          <span class="Legend-colorBox"
            style="background-color: green; width: 1.5rem; height: 1.5rem; display: inline-block;">
          </span>
          <span class="Legend-label">
            Good
          </span>
        </li>
        <li class="Legend-item">
          <span class="Legend-colorBox"
            style="background-color: blue; width: 1.5rem; height: 1.5rem; display: inline-block;">
          </span>
          <span class="Legend-label">
            Wet
          </span>
        </li>
      </ul>
    </div>
    <div
      style="width: 500px; height: 120px; background-image: linear-gradient(90deg, yellow 5.66%, green 52%, blue 94% );">
    </div>
    <progress style="height: 50px; width: 500px;" max="100" value={{ humidity }}></progress>

  </div>

  <div style="float: right;">
    <h1>Temperature = <span id="temperature">{{ temperature }}°C</span></h1>
    <div class="temp-legend">
      <ul class="Legend">
        <li class="Legend-item">
          <span class="Legend-colorBox"
            style="background-color: blue; width: 1.5rem; height: 1.5rem; display: inline-block;">
          </span>
          <span class="Legend-label">
            Cold
          </span>
        </li>
        <li class="Legend-item">
          <span class="Legend-colorBox"
            style="background-color: orange; width: 1.5rem; height: 1.5rem; display: inline-block;">
          </span>
          <span class="Legend-label">
            Good
          </span>
        </li>
        <li class="Legend-item">
          <span class="Legend-colorBox"
            style="background-color: red; width: 1.5rem; height: 1.5rem; display: inline-block;">
          </span>
          <span class="Legend-label">
            Hot
          </span>
        </li>
      </ul>
    </div>
    <div style="width: 500px; height: 120px; background-image: linear-gradient(90deg, blue 7%, orange 33%, red 60% );">
    </div>
    <progress style="height: 50px; width: 500px;" max="60" value={{ temperature }}></progress>
  </div>
  <br><br>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Code inside here will run when the DOM is fully loaded
      // Fetch messages from the server
      fetchData();

      // Fetch messages every 5 seconds (adjust as needed)
      setInterval(fetchData, 5000);
    });
    function fetchData() {
      fetch('/fetch_data') // Replace with the correct URL for your Flask route
        .then(response => response.json())
        .then(data => {
          // Update the temperature and humidity values on the page
          document.getElementById('temperature').textContent = data.temperature;
          document.getElementById('humidity').textContent = data.humidity;
        })
        .catch(error => {
          console.log('Error:', error);
        });
    }

    // // Call the fetchData function when the page loads to initially load the data
    // window.addEventListener('load', fetchData);

    // // You can also set an interval to periodically fetch and update the data
    // setInterval(fetchData, 2000); // Fetch data every 5 seconds (adjust the interval as needed)
  </script>
</body>
{% endblock %}